[2016-07-27 08:45] Meistercoach83 opened #1 "Name-List error"
After npm install && npm start my browser opens correctly. The page is show, but when trying to access http://localhost:9001/api/name-list the server throws an error

NameListService.prototype.handleError(error=Response { _body=Event error, status=0, ok=false, mehr...})name-li...vice.js (Zeile 29)
CatchSubscriber.prototype.error(err=Object { type="object"})catch.js (Zeile 51)
Subscriber.prototype.

[2016-07-27 08:47] vyakymenko commented on #1
@Meistercoach83 , before npm start, run the server middleware
`node app.sever.dev.js`

[2016-07-27 08:47] vyakymenko commented on #1
@Meistercoach83 , https://github.com/vyakymenko/angular2-seed-express#need-to-know

[2016-07-27 08:51] vyakymenko commented on #1
In future middleware runner will be included to `npm start`.

[2016-07-28 17:30] DmitryEfimenko commented on #1
Also got error that it's unable to load the list.
Made sure to start server before running `npm start`. The error is:
[code]
Basically there are two servers. One is the app api and another one is there just for the purposes of serving angular app.
The quick hacky solution (that I don't think is acceptable) is to add headers on the server.
The proper way to fix this would be somehow combining the t

[2016-07-28 17:35] vyakymenko commented on #1
@DmitryEfimenko , you are right, my false in `routes`.
Fixed.

[2016-07-28 18:15] DmitryEfimenko commented on #1
that fix broke serving list in prod because `app.get('/*', renderIndex);` now runs before `require('./routes')(app);` and therefore intercepts requests to api and serves index page instead.

[2016-07-28 18:22] vyakymenko commented on #1
@DmitryEfimenko , I have add a temporary hotfix, that is 100% fix this issue.

[2016-07-28 18:48] DmitryEfimenko commented on #1
thanks!

[2016-07-28 19:03] DmitryEfimenko opened #2 "some server enchantment thoughts"
Currently server's code is written in js. We could step up the game and use TypeScript, just like the client side does it.
This would require the build to output files in the "dist" folder, which means things would have to be rearranged a bit in there (currently prod build puts whole client code in the root of the dist folder. We'd have to put it in the "/dist/client").

Another improvement would

[2016-07-28 19:06] vyakymenko commented on #2
@DmitryEfimenko , I have some idea, but maybe after  implementation of `Redis` integration.

[2016-07-28 19:50] #1 closed

[2016-07-30 20:04] vyakymenko opened #5 "Angular 2 Redis Integration"
Client-Server ng2 Redis integration:
- [x] Server side service `name-list.service.ts`.
- [x] Get (`client`) `name-list`, parsed from `Redis`
- [ ] Add (`client`) `name` to `name-list`.
- [ ] Delete (`client`) `name` from `name-list`.

Create `server` service for some new test `CRUD` game/app.
- [ ] App/Game proposition.
- [ ] Server side service for `app/game`.
- [ ] Client-side logic.

[2016-07-30 20:06] vyakymenko commented on #2
@DmitryEfimenko , I had created another issue for some new additions:
https://github.com/vyakymenko/angular2-seed-express/issues/5.

[2016-07-30 21:27] DmitryEfimenko commented on #5
I wanted to clarify the purpose of Redis in this project. Is that basically a database? The persistent storage layer? If so, the logic of accessing it should be moved out to some service like `storageService` with an appropriate interface so that people who don't want to use Redis can easily switch it out to something else.

[2016-07-30 21:31] vyakymenko commented on #5
@DmitryEfimenko , it's will be just an example how to work with `database`.
Of course, developers can use any another way that they want. But we need to give something for them for start.

[2016-07-30 21:43] DmitryEfimenko commented on #2
### Improve routing idea
Currently if you want to add another route, you have to touch multiple files:
* create file with actual route
* import it to the index of a whatever service
* init it in routes.ts

In case you want to have a more complex hierarchy, there would be even more files to touch (ex: `user/preferences/domains/add`)

I wrote some code that I use in some of my apps that automates th

[2016-07-30 21:50] vyakymenko commented on #2
@DmitryEfimenko , interesting idea. I think it will a good improvement.
But we need to keep in mind, that `@angular routes` and `express routes` need to do not conflict, maybe we will need some `gulp` checker task for this one to prevent this `case` if *developer* will try to use `route` that is used by `@angular`. I will think about it.

[2016-08-14 14:55] #2 closed

[2016-08-22 16:26] Zasuk opened #8 "Dev server with BrowserSync support"
Hi there, i'm using your seed with mongodb and i just have a small question (I'm new in web dev so please expect some newbie questions)

Basically i just want to know if it is possible to use BrowserSync for server and client at same time...probably you added a new express instance to avoid more changes in the structure of the original seed project.

Right now i have 2 extra npm commands:

[code]

[2016-08-23 12:48] adamhpan commented on #8
Just use nodemon to start the dev server.

@vyakymenko I can get a concurrent task running to start both server and client apps. I'll submit a PR in a bit.

[2016-08-24 16:35] vyakymenko commented on #8
@Zasuk , hello! Sorry for late response. I can propose you very simple good solution with `PM2` daemon.
Please look here, you can configure any source changes to restart you `backend` : http://pm2.keymetrics.io/docs/usage/watch-and-restart/
Thanks!

[2016-08-24 17:42] Zasuk commented on #8
Hi, thanks for the help :)

i've tested and it reloads the server. The problem is that i need to spend to much time to see the changes because i have to run the build.dev again and then reload the browser.

i work with two monitores and BrowserSync is awesome because i'm coding in one monitor and then i just need to look to the other one to see the changes almost in real time...

you think that is

[2016-08-24 17:45] vyakymenko commented on #8
@Zasuk , yeah, sure it's possible. Maybe I will add **2** new `npm tasks` for thus one when I will have a time.

[2016-08-24 17:57] Zasuk commented on #8
@vyakymenko thanks, that is exactly what i need :)

btw, you have an ideia what files we need to change for that? just asking because i really need this and i want to try to implement it myself.

[2016-08-25 13:10] Zasuk opened #9 "Debug server side code"
Hi, how can i debug the server side code in webstorm?
For the client i just need to setup a new javascript debug config and i think it will also work for server side but i think we also need the map files in dist folder....

[2016-08-25 15:47] vyakymenko commented on #9
@Zasuk , here is server debug in `WebStorm`:
http://prntscr.com/cab71b

[2016-08-25 15:53] vyakymenko commented on #9
@Zasuk , debug by default TypeScript impossible, we talk about it with @geekrumper in `gitter` and `JetBrains` team.
Btw we have a ticket for this one:
https://youtrack.jetbrains.com/oauth?state=%2Fissue%2FIDEA-159932

[2016-08-25 16:38] Zasuk commented on #9
@vyakymenko can you share your Node.js Development debug configuration? just to check if i have the same path for files...

[2016-08-25 20:40] Zasuk commented on #8
@vyakymenko using browsersync with proxy for localhost:9001 seems to work.

[2016-08-25 23:10] vyakymenko commented on #8
@Zasuk , great! So we can close this issue ?

[2016-08-26 10:17] #8 closed

[2016-08-31 10:51] ghatul opened #11 "integration with mongo?"
i try to integrate project with mongo but it not working ,can u please tell  me

[2016-08-31 10:52] vyakymenko commented on #11
@ghatul , I was thinking about it, when I will have a free time I will implement integration with mongo :)

[2016-08-31 10:54] vyakymenko commented on #9
@Zasuk , I just configure my server folder and that's all.
Here is my screenshot:
http://prntscr.com/ccgg0u

[2016-08-31 11:07] vyakymenko commented on #11
@ghatul , can you provide more details what are not working for you ?

[2016-08-31 11:24] ghatul commented on #11
i use https://github.com/mgechev/angular2-seed this seed project and build my client and server in  nodejs with typescript with mongo , i try to integrate client and server as per your seed ,i suceesfully integrate client but i getting confused for integration of server ...

[2016-08-31 11:25] vyakymenko commented on #11
@ghatul , any errors? Have you read the documentation in `README.md` ?

[2016-09-01 07:16] ghatul commented on #11
yes , i read that

[2016-09-01 18:35] redevill opened #13 "Module Resolution in seed project?"
Was trying to extend your seed to use Sequelize. Was hoping to get help on an error that appears to be related to Module resolution within the seed project.

Have posted here:
http://stackoverflow.com/questions/39278466/error-while-attempting-integration-of-sequelize-into-angular2-seed-express

Any help would be appreciated.
Thanks

[2016-09-01 20:14] vyakymenko commented on #13
@redevill , `typings install dt~sequelize --save --global`

[2016-09-01 20:14] vyakymenko commented on #11
@ghatul , can you show your `.ts` or `.js` code to connect with `MongoDB` ?

[2016-09-01 20:15] vyakymenko commented on #9
@Zasuk , can we close this issue ?

[2016-09-02 04:57] ghatul commented on #11
`import Mongoose = require("mongoose");

class DataAccess {
    static mongooseInstance:any;
    static mongooseConnection:Mongoose.Connection;

    constructor() {
        DataAccess.connect();
    }

    static connect():Mongoose.Connection {
        if (this.mongooseInstance) return this.mongooseInstance;

        this.mongooseConnection = Mongoose.connection;
        this.mongooseConnection.on

[2016-09-02 08:50] vyakymenko commented on #11
@ghatul , have you installed `typings install dt~mongoose --save --global` ?
You `MongoDB` is running ? What `error` do you have? Maybe you have some `debug` log ?

[2016-09-02 14:39] rylphs opened #14 "Problem running 'npm run build.prod'"
When I run ''npm run build.prod", I get the following error
[code]

Looking at the file seed.config.ts indeed there is no 'APP_DEST' or 'APP_SRC' declared.

[2016-09-02 15:04] vyakymenko commented on #14
@rylphs, thanks for funding this one , will fix very soon

[2016-09-02 15:19] rylphs commented on #14
You're welcome, and thank you for the seed, it saved me so much time!

[2016-09-02 15:36] #9 closed

[2016-09-02 15:38] Zasuk commented on #11
Hi, i'm using mongoose in my project with this seed and it's working as expected...

[2016-09-02 15:42] Zasuk commented on #11
typings.json
` "mongoose": "registry:dt/mongoose#4.5.4+20160807120805",
`
db.conf.ts
[code]

then in server/index.ts we just need to init the DBConfig
[code]

[2016-09-02 16:30] vyakymenko commented on #14
@rylphs , if everything is ok now, we can close the issue.

[2016-09-02 16:46] rylphs commented on #14
@vyakymenko, everything is ok you can close the issue. Thanks!

[2016-09-02 16:46] #14 closed

[2016-09-02 17:43] Zasuk opened #15 "Current copy.client.js.prod.ts task don't allow us to share code between server and client"
Hi, i was trying to share a model between my server and client implementation and is not possible without some changes in the current task.

we can create a shared folder in the same level of client and server and copy it to both temp directories...what do you think?

[2016-09-02 17:54] Zasuk commented on #15
or we can name it "core" for example

[2016-09-03 07:17] ghatul commented on #11
thanks !
typings install dt~mongoose --save --global   work for me

[2016-09-03 07:18] #11 closed

[2016-09-10 16:01] vyakymenko commented on #13
@redevill , can we close this issue ?

[2016-09-10 16:05] vyakymenko commented on #15
@Zasuk , I'm not sure that this is the need because you will open the black hole in security. The server code is a server code, client code is a client code.

P.S. If you want to share model, for example, it's not an issue :)

[2016-09-13 09:52] #13 closed

[2016-09-13 09:53] vyakymenko commented on #15
@Zasuk , can we close issue ?

[2016-09-16 15:21] Zasuk commented on #15
to be honest i really need this to share models, some configs and assets...
but i think i'm the only one that needs this feature so i'll try to implement it myself

[2016-09-16 15:22] #15 closed

[2016-09-22 03:33] redevill commented on #13
Yes, thank youEti

      From: Valentyn Yakymenko <notifications@github.com>
 To: vyakymenko/angular2-seed-express <angular2-seed-express@noreply.github.com>
Cc: redevill <yellout@yahoo.com>; Mention <mention@noreply.github.com>
 Sent: Saturday, September 10, 2016 10:01 AM
 Subject: Re: [vyakymenko/angular2-seed-express] Module Resolution in seed project? (#13)

@redevill , can we close this issue

[2016-10-04 15:55] ghatul opened #19 "Cannot read property 'SEED_TASKS_DIR' of undefined"
hi, i am going to migrate rc6 to 2.0 stable (all latest changes are pull into my seed)but stuck with error

/Users/Desktop/myWorkspace/tpl-web-fullstack-seed/gulpfile.ts:9
loadTasks(Config.SEED_TASKS_DIR);
^
TypeError: Cannot read property 'SEED_TASKS_DIR' of undefined
at Object.<anonymous> (/Users/techprimelab/Desktop/myWorkspace/tpl-web-fullstack-seed/gulpfile.ts:9:17)
at Module._compile (module

[2016-10-04 15:58] vyakymenko commented on #19
@ghatul , hello, have you tried clean build ?

[2016-10-05 04:08] ghatul commented on #19
@vyakymenko
i tried for build.prod also same issue
my node version is 6.2.2
and npm v3.9.5

[2016-10-05 04:28] ghatul commented on #19
@vyakymenko
my node version is 6.2.2
and npm v3.9.5

i tried clean.once,build.tools,npm start

but get same error
sudo gulp clean.once
[09:45:01] Requiring external module ts-node/register

/Users/Desktop/myWorkspace/tpl-web-fullstack-seed/gulpfile.ts:9
loadTasks(Config.SEED_TASKS_DIR);
TypeError: Cannot read property 'SEED_TASKS_DIR' of undefine

[2016-10-05 07:33] vyakymenko commented on #19
@ghatul , first one, you need to update `typings`, `$ npm install typings -g`, `typings.json` must be deleted, because it's not used by the current version. Much better after `typings` will be updated, make a clean `clone` of repository, then run `$ npm install` and then `$ npm start` an application.

[2016-10-05 13:37] ghatul commented on #19
@vyakymenko
typings updated , typings.json deleted .

on npm install ->get error
No compatible version found: es6-module-loader@^1.0.0

[2016-10-08 12:19] ghatul commented on #19
@vyakymenko
hi,
typings.json deleted from my seed.
i use some npm modules like passport ,nodemailer......etc, project functionality is working properly but give console errors like  ->Cannot find module 'nodemailer'.
                                       ->Cannot find module 'passport'.

it not getting problem for development env but production env could not be build .
before migration i was usin

[2016-10-10 09:07] vyakymenko commented on #19
@ghatul , via `npm` only. I'm sorry, but it's not a seed issue.

[2016-10-10 11:16] ghatul commented on #19
@vyakymenko
thanku.

[2016-10-10 11:16] #19 closed

[2016-10-10 11:50] ghatul opened #20 "can not found FB.login() ?"
when i was using typing.json ,i used fbsdk defination for facebook login then i updated my seed.
then delete the typing.json file and all  other modules move to package.json, using npm install @types/abc --save
but all modules not available on @types which is available on typings . what should i do?

[2016-10-10 13:11] ghatul opened #21 "TypeError: Cannot read property 'animations' of undefined"
version 2.0.1

/node_modules/@angular/compiler/bundles/compiler.umd.js:8766
          template.animations.forEach(function (entry) { triggerLookup.add(entry.name); });
                  ^
TypeError: Cannot read property 'animations' of undefined
    at TemplateParseVisitor._validateElementAnimationInputOutputs (/home/pooja/Desktop/development2.0/tpl-web-fullstack-seed/node_modules/@angular/compile

[2016-10-10 13:30] vyakymenko commented on #20
@ghatul , it's your own development issue, not a seed issue. Close.

[2016-10-10 13:30] #20 closed

[2016-10-10 13:55] vyakymenko commented on #21
@ghatul , how do you import `animation` ?

[2016-10-13 13:29] vyakymenko commented on #21
Close since this is not a seed issue .

[2016-10-13 13:29] #21 closed

[2016-10-19 15:08] balaguero commented on #5
I'm working on add mongodb and mongoose, and jwt.
In order to create an unser register and login component.
If i can finish it, i'll share with you :)
---
Nice Repo

PD: it's the first time that i working with ng-2 fullstack, maybe the code can contain some errors.
PD: if you can add live-reload to server will be great!

[2016-10-19 18:33] vyakymenko commented on #5
@balaguero , thank you will look for your improvement. Actually, for now, have a lot of work, so when I will have little bit free time will implement a lot of interesting features. Thanks!

[2016-10-27 09:44] NiLeShpatil777 opened #22 "Add config for backend"
in config i have development.json,production.json and staging.json   ,Even though i set my ENV_NODE to production by using command 'export NODE_ENV=production' the values i am getting are all of development.
         The way i run my project is as follows
1)In first tab
export NODE_ENV=production
npm start
2)In second tab
export NODE_ENV=production
node app.server.prod.js

[2016-10-27 10:18] vyakymenko commented on #22
@NiLeShpatil777 , for production Web Service calls, you need to build you client app in `production`.
| Express Server

Express server run for prod build.

# run Express server (keep in touch, only after `npm run build.prod` )
# keep in mind that prod build will be builded with prod env flag
$ node app.server.prod.js

[2016-10-27 10:26] NiLeShpatil777 opened #23 "Backend debugging"
What steps will reproduce the problem?
1. I have two directories in my source folder one with Server which contains backend code written in node.js with typescript. I have used gulp task manager & express server to run backend code. My node version is v6.8.1
   & npm version is 3.10.7. Second directory is Client which contains front end code written in angular 2 - 2.0 version.
2. I have attached s

[2016-10-27 10:27] vyakymenko commented on #23
@NiLeShpatil777 , your back-end debugging not a seed issue.

[2016-11-02 22:27] #23 closed

[2016-11-02 22:27] #22 closed

[2016-11-15 11:08] NiLeShpatil777 opened #26 "HTTP/2"
hello,I am trying to use Http/2 in project.i have mongodb as database.i have installed spdy .has any one implimented it.needs some help...

[2016-11-15 14:38] vyakymenko commented on #26
Hello @NiLeShpatil777 , what problems with current seed do you have? Becaus all that I understand for now, you have `problems` and `help`. With what ?

[2016-11-15 15:39] NiLeShpatil777 commented on #23
Thanks #9 worked for me .
I just configure my server folder and that's all.
http://prntscr.com/ccgg0u

[2016-11-17 03:48] zaksyed opened #27 "serve.prod.exp is failing"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**

When I am running npm run serve.prod.exp, the script seems to be failing.

**Minimal reproduction of the problem with instructions**

Clone the latest changes and run npm run serve.prod.exp

**Please tell us about your environment:**

Mac OS, webstrom

* **Node:** `node --version` = v6.9.1

[2016-11-17 08:19] vyakymenko commented on #27
@zaksyed , hello, thanks for this bug submitting, actually I'm working on experimental buld, sof for now it's now working.

[2016-11-18 06:22] NiLeShpatil777 commented on #26
The current project is running perfectly awesome including debugging too.In order to get benefits of http2 i wanted to implement the same.I have created localhost ssl certificate using "localhost-ssl".The requests are going through http2 but for server push feature of http2 what changes and file should be done .Can server push feature help us to load index.html of our project in better way.my code

[2016-11-23 01:31] vyakymenko commented on #27
Issue resolved, per: https://github.com/vyakymenko/angular2-seed-express/pull/28

[2016-11-23 01:31] #27 closed

[2016-11-24 08:14] vyakymenko commented on #26
@NiLeShpatil777 , excuse me, but it's a specific task just for `you` and I don't see ant reason to add this feature ;) This seed just a starter pack for your `angular-seed-express` project.

[2016-11-24 08:15] #26 closed

[2017-01-11 17:56] narkhedetushar opened #30 "Run app in debug mode"
I want to run a app in debug mode. but when I do same with below command
'node-debug start'
I get below error I am very new to node so can you help me with running app in debug mode where I can use chrome devtools to debug code and learn further

![image](https://cloud.githubusercontent.com/assets/5755145/21860112/329ae9d8-d855-11e6-8b0f-69f89650186f.png)

[2017-01-11 18:15] #30 closed

[2017-01-30 09:45] ghatul opened #31 "Progressive app support?"
hi ,
can u please guide about how to configure PWA support for this starter project.

[2017-01-30 11:03] vyakymenko commented on #31
@ghatul , hello, I apologize, but this repo, is just an example of how to use express with angular-seed, to create the correct architecture for PWA, you need to use your own architecture depend on what do you want from your application. Example: "For installer generation for you PWA, can be used alot of frameworks, like cordova, phonegap, etc..." and more more more... I think you need to look for

[2017-02-01 09:49] ghatul commented on #31
thanku.

[2017-02-01 09:49] #31 closed

[2017-02-01 09:56] ghatul opened #32 "Error on fetch for angular2-indexeddb.js ?"
hi,
I stuck with configuration of indexdb on production build it get Error on fetch for angular2-indexeddb.js.It work without error on development.i cant understand how to solve this, could u please help me out.....

i tried following  project.config.ts but it not worked :-
SYSTEM_CONFIG_DEV: any = {
    defaultJSExtensions: true,
    transpiler: 'typescript', typescriptOptions: { emitDecoratorMet

[2017-02-06 10:16] vyakymenko commented on #32
@ghatul , error in incorrect configuration for lib that you try to use.

Here is an example with higcharts in `project.config.ts`:
[code]

Same construction will be for your `indxedDB` lib or other.

Thanks!

[2017-02-08 14:18] ghatul commented on #32
thanku...

[2017-02-08 14:18] #32 closed

[2017-02-08 14:31] ghatul opened #33 "progressive web app with offline ?"
i am working for offline functionality with this starter app. I did all requirements which require for offline but i failed to caching all that resources in browser cache using service-worker.js. I used sw-precache for that.

changes with gulpfile.ts
1.  gulp.task('build.prod', (done: any) =>
  runSequence('check.tools',
              'clean.prod',
              //'tslint',
              //'css-li

[2017-02-22 15:31] vyakymenko commented on #33
I apologize, but this is not seed issue.

[2017-02-22 15:31] #33 closed

[2017-02-22 15:31] #5 closed

[2017-02-23 06:58] ghatul commented on #33
i got it, thanku!

[2017-03-10 10:17] PMashaI opened #36 "Is it possible to config karma to test a prod environment?"
I would like to launch my karma tests on prod environment if it is possible.

Could someone advise me how to set up the karma config for that?

[2017-03-15 16:51] calebeaires opened #37 "npm start livereload to src/server"
**I'm submitting a ...**  (check one with "x")
[code]
`npm start` does not watches files and uses livereload on **src/server** code. Is there some way to active it?

[2017-03-15 17:46] vyakymenko commented on #36
@PMashaI , hello, here is tutorial:
https://github.com/mgechev/angular-seed/wiki/Including-dependencies-in-karma.config.js

[2017-03-15 17:49] vyakymenko commented on #37
@calebeaires , hello, look here:
https://github.com/vyakymenko/angular2-seed-express/issues/8

P.S. But later I will think about it.

[2017-03-20 14:17] #36 closed

[2017-03-20 14:17] #37 closed

[2017-06-14 10:54] sergiodias-veritas opened #41 ""e2e" npm script does not spin up express server, while "e2e" gulp task does"
**I'm submitting a ...**
[code]

**Current behavior**
When running the `e2e` npm script, the tests fail because the server isn't up. If I run the server in production mode with `node app.server.prod.js` at the same time, it does work. If I run the `e2e` gulp task instead, it does work.

**Expected behavior**
When running the `e2e` npm script, the tests pass because the server is up. The `e2e` gulp

[2017-06-14 10:56] sergiodias-veritas commented on #41
Closed because I got a few things wrong.

[2017-06-14 10:58] sergiodias-veritas commented on #41
Re-opened after fixing a few issues with the OP.

[2017-06-15 11:54] vyakymenko commented on #41
Hi @sergiodias-veritas , let's go step-by-step:

1. ```sh $ npm run build.prod # or npm run build.prod.rollup.aot```, after finish goto step 2.
2. ```sh $ node app.server.prod.js ```
3. ```sh $ npm run e2e```.

If you want to test `dev` build, open `protractor.conf.js` and change your `localhost port`.

[2017-06-15 12:44] sergiodias-veritas commented on #41
@vyakymenko Thanks for the instructions. After I created the issue, I had tried that, and it did work, but I still found it odd that the "e2e" gulp task does spin up the full express server, but the "e2e" npm script does not. But if that is intended, we can close this issue.

[2017-06-15 13:30] vyakymenko commented on #41
@sergiodias-veritas , I've apologized, but for now, it's not implemented in the current version. I will keep in mind this enhancement.

[2017-06-15 13:30] #41 closed

[2017-06-15 13:31] sergiodias-veritas commented on #41
@vyakymenko OK, thanks for the help.

[2017-07-15 14:45] sunyuhang opened #44 "Failed to load the initial page"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**

Get the latest from Repo. npm install and then npm start. It stops at loading. It failed to load rxjs/observable package. Notice, the code seems do not have the latest changes from its parent repo. In its parent repo, it adds an new task to temporarily fix an angular issue: https://github.com/mgechev/angular-seed/blob/mas

[2017-07-17 07:37] vyakymenko commented on #44
@sunyuhang, thanks for an issue, fixed.

[2017-07-17 07:37] #44 closed

[2017-07-18 02:33] sunyuhang commented on #44
Thanks.
On server side code, I can not use the map operator io rxjs. It is important for my project to use rxjs in express server. Please advice how to do this

Thanks very much

Sent from my iPhone

On Jul 17, 2017, at 2:37 AM, Valentyn Yakymenko <notifications@github.com<mailto:notifications@github.com>> wrote:

Closed #44<https://github.com/vyakymenko/angular-seed-express/issues/44>.

—
You are

[2017-07-18 13:30] sunyuhang commented on #44
Never mind. It is working now.
Thanks

Sent from my iPhone

On Jul 17, 2017, at 2:37 AM, Valentyn Yakymenko <notifications@github.com<mailto:notifications@github.com>> wrote:

Closed #44<https://github.com/vyakymenko/angular-seed-express/issues/44>.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/vyakymenko/angular-seed-expre

[2017-07-18 13:33] vyakymenko commented on #44
Sounds good!

Thanks!

[2017-08-16 19:42] bennykelly opened #49 "Support for SSR - Server Side Rendering"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
App works perfectly, however, on load if you view the page source, you only get back the basic loading... div. Not great for social sharing or SEO.

**Expected behavior**
Ideally, utilizing server side rending (provided by the ServerModule in @angular/platform-server) the page would be served from the server initially and

[2017-08-18 14:52] vyakymenko commented on #49
Hi @bennykelly , interesting feature, but at this point, you can use [Angular Universal](https://universal.angular.io/) that is resolving your issue. Please take a look more about it,

Thanks!

[2017-08-21 07:13] #49 closed

[2017-08-21 10:42] ghatul opened #50 "Aot compilation error?"
Hi,

If i hit npm run build.prod it getting below error. i dont undestand what to do next.

"dependencies": {
   "@"-
   "angular/common": "^2.1.2",
    "angular/compiler": "^2.1.2",
    "angular/core": "^2.1.2",
    "angular/forms": "^2.1.2",
    "angular/http": "^2.1.2",
    "angular/platform-browser": "^2.1.2",
    "angular/platform-browser-dynamic": "^2.1.2",
    "angular/router": "^3.1.2",

a

[2017-08-21 10:44] vyakymenko commented on #50
Hi @ghatul , please update all dependencies via upstream:

https://help.github.com/articles/configuring-a-remote-for-a-fork/

[2017-08-22 11:42] ghatul commented on #50
Hi @vyakymenko, i tried above solution but it getting drastic file changes also getting conflicts.
I am using angular 2 (repository tag 2.1.2) i dont want to move on next angular 2 versions or on angular 4.

Is there any another way to fix it?

[2017-08-22 11:43] vyakymenko commented on #50
Hi @ghatul , migration will be the best solution... Otherwise, you need to debug your building system, that is not supported with the current version of `angular-seed-express`.

[2017-08-22 11:49] ghatul commented on #50
Hi @vyakymenko.
 ok but, on which version or on which repository tag is prefarable for me for migration.

[2017-08-22 11:51] vyakymenko commented on #50
Hi @ghatul ,

It depends on your `package.json` configuration, `tools`.

The best solution that you can do, it's a clean clone repo, and copy your logic and components to new clone.

[2017-08-22 11:55] ghatul commented on #50
@vyakymenko

ok i will try. thanks.

[2017-08-28 00:45] #50 closed

[2017-09-11 18:57] AbhijeetGiram opened #52 "How to build SCSS in angular-seed-express 4.2.3?"
**I'm submitting a ...**  (check one with "x")
[code]

[2017-09-12 06:46] vyakymenko commented on #52
Hi @AbhijeetGiram ,

Actually, revert all changes that you made, an open `tools/config/project.config.ts`

Then inside `constructor()`:

[code]

Then, change all of your `.css` files to `.scss` files, but for components, it's still must be:

[code]

Then, `npm run start`.

[2017-09-12 10:11] rahulTiwari021 opened #53 "how to use third party npm package which has .ts files"
hello i am using angular-seed-express version 2.1.2 and i have installed third party npm package which has .ts files in it but when i am trying to use that in my component it is not able to recognise the module

[2017-09-12 10:41] vyakymenko commented on #53
Hi @rahulTiwari021 , do you have typings for this lib ?

[2017-09-12 11:02] vyakymenko commented on #53
Please add typings to you config, so then you will be available to use your lib.

[2017-09-12 12:24] AbhijeetGiram commented on #52
@vyakymenko Okay. I will try this. Thanks.

[2017-09-18 14:19] rahulTiwari021 opened #54 "does angular 4.2.3 seed express supports angular universal feature? If not how can we configure it"
I wanted to implement seo in my angular 4 app

[2017-09-18 14:30] vyakymenko commented on #54
Hi @rahulTiwari021 , sorry but this is not an angular-seed-express issue. Please use some research.

[2017-09-18 14:30] #53 closed

[2017-09-18 14:31] #52 closed

[2017-09-19 04:47] rahulTiwari021 commented on #54
@vyakymenko okay thanks

[2017-09-19 04:47] #54 closed

[2017-09-19 12:48] AbhijeetGiram opened #55 "We are unable to build production for angular-seed-express 4.2.3"
I build production successfully, but  got this error in browser console.

VM83802 shims.js?1505822365078:1 Uncaught SyntaxError: Unexpected token <
VM83803 app.js?1505822365079:1 Uncaught SyntaxError: Unexpected token <

[2017-09-19 13:19] vyakymenko commented on #55
Hi, @AbhijeetGiram , are you using the latest version? Any additional packages? OS?

[2017-09-19 15:01] AbhijeetGiram commented on #55
Hello @vyakymenko
OS: Windows 8
NPM: 4.2.0
Node: v6.9.4
Yes additional packages are there.
But I have solved it. I was unable to build production because of some path error in **"index.ts"** and it solved.
BTW @vyakymenko
does angular 4.2.3 seed express supports angular universal feature? If not how can we configure it.

[2017-09-26 08:59] AbhijeetGiram opened #56 "How can i build prod AOT?"
When I build.prod.aot, I got this error. How can i build prod AOT? Help me.

[14:22:49] Starting 'compile.ahead.prod'...
Error: Error encountered resolving symbol values statically. Function calls are not supported. Consider replacing the function or lambda with a reference to an exported function (position 285:19 in the original .ts file), resolving symbol AppModule in D:/test_repo/c-next/dist/tm

[2017-09-26 09:01] vyakymenko commented on #55
Hi @AbhijeetGiram , I think you need to read a little bit more about Angular Universal. It's a server-side rendering.

[2017-09-26 09:01] #55 closed

[2017-09-26 09:02] vyakymenko commented on #56
Hi @AbhijeetGiram , I can't reproduce this issue on a clean clone of **angular-seed-express**.

[2017-10-03 08:55] #56 closed

[2017-10-09 11:47] AbhijeetGiram opened #58 "gulp task "watch.dev" not working for backend code which is in src/server directory."
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**

watcher for backend code is not working. Need Help

Note: for front end code which is src/client directory, whenever i made any change "watch.dev" is working fine.
**Expected behavior**

**Minimal reproduction of the problem with instructions**

**What is the motivation / use case for changing the behavior?**

**Please te

[2017-10-09 12:12] vyakymenko commented on #58
Thanks for finding this bug,
Watcher problem fixed, please update version of `angular-seed-express`.

For re-run, your newly built server changes, use daemon `pm2`.

[2017-10-09 13:52] AbhijeetGiram commented on #58
@vyakymenko Thanks. It works fine now.

[2017-10-09 13:52] #58 closed

[2017-10-30 16:26] AbhijeetGiram opened #61 "angular-seed-express 4.2.3 | got error when fire npm install command"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**

[15:25:55] Error on fetch for rxjs/operators.js at file:///opt/atlassian/pipelines/agent/build/node_modules/rxjs/operators.js
	Loading rxjs/Rx.js
	Loading dist/tmp/app/shared/services/http/custom.http.js
	Loading dist/tmp/app/app.module.js
	Loading dist/tmp/app/main.js
	Error: ENOENT: no such file or directory, open '/opt

[2017-10-30 16:28] vyakymenko commented on #61
Hello @AbhijeetGiram, show me a piece of code where you use import operator, also you can try update to new version.

[2017-10-30 16:32] vyakymenko commented on #61
@AbhijeetGiram , please delete `package-lock.json` and `node_modules/` directories and update to new version `4.4.4` that is live, this is very important, there was a hotfix for `rxjs`.

[2017-11-04 12:49] AbhijeetGiram commented on #61
@vyakymenko Thanks.  rxjs: 5.4.3 works for me.

[2017-11-04 12:49] #61 closed

[2018-06-04 18:26] redevill opened #142 "Build Errors SHA - 78def1e893a1fdad14a48988902e24382d8fa483"
[ x] bug report => search github for a similar issue or PR before submitting
I'd be happy to do a pull request, but would need guidance on the procedure...

First error is obvious - line 14 defines _clientDir as a constant set to dev. Then in the production section line 68, it tries to reset it to prod.
_src/server/index.ts(68,5): error TS2540: Cannot assign to '_clientDir' because it is a constan

[2018-06-06 08:35] vyakymenko commented on #142
Thanks for this issue, resolved.

[2018-06-06 12:30] #142 closed

[2018-06-11 21:41] redevill opened #147 "Shared source between client and server?"
Is there interest in having some files in source code (e.g. interfaces) that could be used by both client and server?

The seed project manages the appropriate compilation/bundling to the server and client...
I have managed to create such a solution if there is interest.
Thanks
Eti

[2018-06-12 03:15] vyakymenko commented on #147
Hello @redevil,
Sure, you can create a PR with this feature,
Thanks!

[2018-06-12 15:25] redevill commented on #147
Ok, will do, my Guess on procedure:

1. Make another branch with this feature, off of master.
2. Check in the new code.
3. Go to the pull request tab, create new pull request
4. select my branch in the example comparisons?

This right? Guideline document you would like me to follow?
Thanks
Eti

[2018-06-12 15:28] vyakymenko commented on #147
Hello @redevill , please follow this [guide](https://github.com/vyakymenko/angular-seed-express/blob/master/.github/CONTRIBUTING.md).

Thanks!

[2018-06-12 15:30] redevill commented on #147
Will do

[2018-06-15 16:05] kiranchowdhury opened #150 "build.prod unsuccessful"
Hello -
I was trying to run build.prod, but it ended up with the following error -
[21:30:54] Error on fetch for rxjs/operators.js at file:///Users/kiranchowdhury/Documents/angular-seed-express/node_modules/rxjs/operators.js
	Loading @angular/core/bundles/core.umd.js
	Loading dist/tmp/app/main.js
	Error: ENOENT: no such file or directory, open '/Users/kiranchowdhury/Documents/angular-seed-express/

[2018-06-20 19:06] redevill commented on #147
Could use a little help. I have it working, with a problem, that is not ideal. There is a section in the config that allows you to specify systemJS and systemBuilder (same config used for both it seems?).

I have made the following spec:     name: 'shared/*', path: 'dist/tmp/shared/*'
The wild card (*) allows system builder to resolve the *.ts files that exist in the tmp folder when it does bundli

[2018-07-25 21:45] vyakymenko commented on #150
@kiranchowdhury , issue resolved.

[2018-07-25 21:45] #150 closed

[2018-07-26 00:58] redevill commented on #147
Oh cool, what resolver will replace it? Webpack? So I can get familiar with how it works...

[2018-07-26 09:23] vyakymenko commented on #147
There will be Rollup ;)

[2018-10-09 05:15] vyakymenko commented on #147
I think that we can close this issue. The core is updated and now it's easy to manage client and server code.

[2018-10-09 05:15] #147 closed

[2018-10-09 16:44] redevill commented on #147
Ok... so How do you share an interface, so that a single source file defines this interface for both the client and the server?

[2018-10-09 17:49] vyakymenko commented on #147
Hi @redevill ,

I use something like this: ![Shared Interface](https://image.prntscr.com/image/f_gHDwsPTeSyFgSCKWWtCg.png)

[2018-10-09 23:14] redevill commented on #147
Wow... how does that resolve in the dist folder? Do you have 2 copies?
When I tried that it did not work, because systemjs / systemjs-builder could not resolve both the relative import references. I also had similar resolution issues at run time.

Thank you, I will give the new code a try, with the above suggestion.

[2018-10-09 23:19] redevill commented on #147
Speaking of new code...
I am still having much trouble with some libraries resolving, with version 6.0.1
Could really use a pointer in the right direction with this... If you could spare the time?
Should I open another issue?
![image](https://user-images.githubusercontent.com/8999255/46704189-18472600-cbe7-11e8-920d-73bd8d767fc8.png)

Thanks!

[2018-10-10 04:48] vyakymenko commented on #147
Hi @redevil,

I hope that I’ll have some time at weekend and will provide you more details.

[2018-10-16 01:11] redevill opened #179 "Production build rxjs resolution issues - ref 2118 in parent seed"
**I'm submitting a ...**  (check one with "x")
[code]
**Current behavior**

Same as 2118 - during a prod build, SystemJS is not able to resolve rxjs/operators
build.dev works fine.

**Expected behavior**

Build without error.

**Minimal reproduction of the problem with instructions**
npm run build.prod with rxjs imports in the project

**Please tell us about your environment:**

mac, webstorm, npm

[2018-10-16 16:17] #179 closed

[2018-10-18 07:20] luckyvaishnav opened #180 "does angular 4.2.3 seed express supports lazy loading feature on prod mode? If not how can we configure it"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**

**Expected behavior**

**Minimal reproduction of the problem with instructions**

**What is the motivation / use case for changing the behavior?**

**Please tell us about your environment:**

* **Angular Seed Version:** `aaaaf75`

* **Node:** `node --version` =

[2018-10-19 22:43] redevill opened #182 "Dev vs Prod styling discrepancies"
This is for the latest release tag 6.0.1
[x ] bug report => search github for a similar issue or PR before submitting

**Current behavior**
npm run build.dev creates a non minified set of files, and runs perfectly in browser.
npm run build.prod currently appears to create a CSS with missing pieces
The symptom, is that the webpages are not styled correctly and FontAwsome icons missing.

**Expected

[2018-10-21 19:07] vyakymenko commented on #180
Hello @luckyvaishnav ,

Here is an example of (lazyLoading)[https://github.com/aelbore/ngx-seed]

[2018-10-21 19:09] vyakymenko commented on #182
Thanks for this issue,

Will verify it at the new version of `angular-seed-express`.

[2018-10-22 14:46] luckyvaishnav commented on #180
i am using 4.2.3 version of  angular-seed-express, do this code work in that?

[2018-10-22 21:09] greenkeeper[bot] opened #185 "An in-range update of cssnano is breaking the build 🚨"
## The devDependency [cssnano](https://github.com/cssnano/cssnano) was updated from `4.1.5` to `4.1.6`.

🚨 [View failing branch](https://github.com/vyakymenko/angular-seed-express/compare/master...vyakymenko:greenkeeper%2Fcssnano-4.1.6).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

cssnano is a devDependency of this pro

[2018-10-23 16:08] redevill commented on #182
@vyakymenko - The output file is not being minified (6.0.1) Even when I pull a blank seed project, and run "npm run build.prod.

Found a solution to my immediate problem. Bootstrap needs to go at the end, in the list of Project NPM Dependencies. Then it is placed at the end of the CSS, and does not disrupt other Styles.

 // Add `NPM` third-party libraries to be injected/bundled.
    // Source pat

[2018-10-23 17:38] vyakymenko commented on #182
Thanks @redevill , I'll verify at the weekend!

[2018-10-23 21:12] redevill commented on #182
@vyakymenko Thanks!

Narrowed it down a bit, something to do with the postcss step below:

If you change the css build task -> tools/tasks/seed/build.html_css.ts
Comment out the postcss processing, Then the CSS works
/**
 * Processes the external CSS files using `postcss` with the configured processors.
 */
function processExternalCss() {
  return getExternalCssStream()
    //.pipe(plugins.postcss

[2018-10-27 15:53] vyakymenko commented on #180
You can use old one to.

[2018-10-27 15:53] #180 closed

[2018-10-29 20:19] vyakymenko commented on #182
Hi @redevill ,

The problem is that `postcss` can't process files that are **already contain prefixes** that is making compilation incorrect.

There are 2 solutions:
## You can use `scss` so that issue will not occur.
## Or you can comment `postcss` function as you mentioned if you still want to use `css`.

Thanks!

[2018-10-29 20:19] #182 closed

[2018-11-05 11:31] greenkeeper[bot] opened #190 "An in-range update of nodemon is breaking the build 🚨"
## The dependency [nodemon](https://github.com/remy/nodemon) was updated from `1.18.5` to `1.18.6`.

🚨 [View failing branch](https://github.com/vyakymenko/angular-seed-express/compare/master...vyakymenko:greenkeeper%2Fnodemon-1.18.6).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

nodemon is a direct dependency of this pr

[2018-11-05 12:01] #190 closed

[2018-12-01 17:35] greenkeeper[bot] opened #200 "An in-range update of karma is breaking the build 🚨"
## The optionalDependency [karma](https://github.com/karma-runner/karma) was updated from `3.1.1` to `3.1.2`.

🚨 [View failing branch](https://github.com/vyakymenko/angular-seed-express/compare/master...vyakymenko:greenkeeper%2Fkarma-3.1.2).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

karma is a optionalDependency of t

[2018-12-05 11:21] greenkeeper[bot] opened #203 "An in-range update of core-js is breaking the build 🚨"
## The dependency [core-js](https://github.com/zloirock/core-js) was updated from `2.5.7` to `2.6.0`.

🚨 [View failing branch](https://github.com/vyakymenko/angular-seed-express/compare/master...vyakymenko:greenkeeper%2Fcore-js-2.6.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

core-js is a direct dependency of this p

[2018-12-06 07:42] #203 closed

[2018-12-06 07:42] #200 closed

[2019-02-11 22:44] redevill opened #228 "Adding @angular/Materials into a seed project"
Hello,

[x] bug report - only in the sense that using my knowledge of V6, does not seem to work with V7.x
- and the support channel points to the seed-project, which has been deprecated.

**Current behavior**
When adding the module as follows in the project config.

    const additionalPackages: ExtendPackages[] = [{
          name: '@angular/material',
          // Path to the package's bundle

[2019-02-12 12:58] vyakymenko commented on #228
Hi @redevill , I will verify this issue at the weekend,

Thanks!

[2019-02-14 03:14] redevill commented on #228
Hello V,
Been doing a bit of work on this.

If the import statement specifies a specific submodule
e.g. import { MatMenu } from '@angular/material/menu';
and the additional package is specified as above (name: @angular/material), then SystemJS looks for
'node_modules/@angular/material/bundles/material.umd.js/menu'

This is the failure that I was seeing above.

I managed a successful specification,

[2019-03-17 05:04] sdevilliers opened #246 "Compatible node version?"
[ x] bug report => search github for a similar issue or PR before submitting

**Current behavior**
Download the current version of seed, do the npm install
- npm run build.prod
- npm run serve.prod
Currently the webpage opens with the page "Loading..."
No errors but the bootstrapping does not appear to be working.

**Expected behavior**
The sample page with the scientists should come up.

**Minima

[2019-03-17 07:43] vyakymenko commented on #246
Hello @sdevilliers ,

My config:
![Screenshot at Mar 17 09-38-33](https://user-images.githubusercontent.com/7300673/54487031-19b50280-4899-11e9-9189-975b62addb68.png)

After `$ npm install` I ran `$ npm start` and everything works fine.

![Screenshot at Mar 17 09-41-31](https://user-images.githubusercontent.com/7300673/54487033-276a8800-4899-11e9-87e0-dd4af73b78dc.png)

Thanks!

[2019-03-17 07:44] vyakymenko commented on #228
Unfortunately, it's the only way to add Material in seed for now.

[2019-03-17 07:44] #228 closed

[2019-03-17 21:37] sdevilliers commented on #246
Um, Yes. I did manage to get the dev mode working also.
But I was referring to the **prod mode** setup.

I followed your steps as closely as possible as follows:
Used "n" to install V10.15.0 of node - to match your version.
Downloaded a fresh copy of the code - git clone http: vyakymenko etc
(npm version **6.9.0** one minor higher) was used to "npm install"
Followed by an npm start - This works as

[2019-03-18 03:46] redevill commented on #228
Ok... thank you!

________________________________
From: Valentyn Yakymenko <notifications@github.com>
Sent: Sunday, March 17, 2019 1:44 AM
To: vyakymenko/angular-seed-express
Cc: ET; Mention
Subject: Re: [vyakymenko/angular-seed-express] Adding @angular/Materials into a seed project (#228)

Unfortunately, it's the only way to add Material in seed for now.

—
You are receiving this because you wer

[2019-03-18 15:01] greenkeeper[bot] opened #247 "An in-range update of compression is breaking the build 🚨"
## The dependency [compression](https://github.com/expressjs/compression) was updated from `1.7.3` to `1.7.4`.

🚨 [View failing branch](https://github.com/vyakymenko/angular-seed-express/compare/master...vyakymenko:greenkeeper%2Fcompression-1.7.4).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

compression is a direct dep

[2019-03-20 08:58] vyakymenko commented on #246
Hello @sdevilliers , the issue was in a `production` builds that I have fixed. Please get the latest code version and everything will be fine on any `node.js` version. Thanks!

[2019-03-23 17:42] sdevilliers commented on #246
Thank you much!!

[2019-03-23 17:42] #246 closed

[2019-04-09 22:43] redevill opened #255 "Server Side Testing? & Update support location?"
[x ] feature request
[ x] support request => Please do not submit support request here, instead see use [gitter](https://gitter.im/mgechev/angular2-seed) or [stackoverflow]

First question - The support link is geared towards the root seed project, which has been deprecated. Is there an alternate forum for seed-express? Hence my second question...

Second - I see karma and Jasmine set up for clien

[2019-04-30 17:49] greenkeeper[bot] opened #261 "An in-range update of browserslist is breaking the build 🚨"
## The devDependency [browserslist](https://github.com/browserslist/browserslist) was updated from `4.5.5` to `4.5.6`.

🚨 [View failing branch](https://github.com/vyakymenko/angular-seed-express/compare/master...vyakymenko:greenkeeper%2Fbrowserslist-4.5.6).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

browserslist is a

[2019-05-13 04:15] greenkeeper[bot] opened #266 "An in-range update of yargs is breaking the build 🚨"
## The devDependency [yargs](https://github.com/yargs/yargs) was updated from `13.2.2` to `13.2.4`.

🚨 [View failing branch](https://github.com/vyakymenko/angular-seed-express/compare/master...vyakymenko:greenkeeper%2Fyargs-13.2.4).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

yargs is a devDependency of this project. I

[2019-05-21 16:41] vyakymenko commented on #255
@redevill , will add this in new https://github.com/vyakymenko/angular-express

[2019-05-21 16:41] #255 closed

[2019-05-21 16:41] #247 closed

[2019-05-21 16:41] #261 closed

[2019-05-21 16:41] #266 closed

[2019-05-22 14:09] redevill commented on #255
Looks nice !!
Looking forward to some info on server side tests?

[2019-05-22 15:23] vyakymenko commented on #255
@redevill , I'll work on server side test very soon, hope will be implemented in `angular-express`

[2019-05-23 10:49] vyakymenko commented on #255
@redevill , now [angular-express](https://github.com/vyakymenko/angular-express) support server side testing.

[2019-05-23 17:41] redevill commented on #255
@vyakymenko - Awesome! Is the client side also mocha? or still Jasmine?
We had some build issues (namespace collisions) between Mocha and Jasmine - when we tried mixing the two libraries.

We will be trying it out. Thanks for the hard work!

[2019-05-23 17:42] vyakymenko commented on #255
@redevill , for client still Jasmine

[2019-05-23 17:43] vyakymenko commented on #255
There are no collisions